<app-nav [isHide]="hideNav"></app-nav>
<div class="container">
  <div class="main-title">
    <div class="title">
      <h1>Votantes</h1>
      <p>Gestión de los votantes</p>
    </div>
    <div class="action">
      <button (click)="createVoter()">
        Crear Votante
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="votantes">
    <div class="noVoters" *ngIf="votantes.length == 0">
      <h1>No hay votantes disponibles</h1>
    </div>
    <app-votante-card
      (resultEmitter)="this.initialize()"
      *ngFor="let votante of votantes"
      [votante]="votante"
    ></app-votante-card>
  </div>
</div>
