@import "src/assets/styles/styles.scss";

.container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 44px;
  @include button();
  .header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      width: 50px;
      padding: 0;
    }
  }
  .content {
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(150px, auto);
  }
}
