@import "src/assets/styles/styles.scss";
.testing {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: black;
  opacity: 0.4;
}
.container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 44px;

  @include button();
  .header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      width: 50px;
      padding: 0;
    }
  }
  .content {
    height: 85%;
    width: 100%;
  }
}
