<app-nav [isHide]="hideNav"></app-nav>
<router-outlet></router-outlet>
<div class="container">
  <div class="main-title">
    <div class="title">
      <h1>Candidatos</h1>
      <p>Gestión de los candidatos</p>
    </div>
    <div class="action">
      <button (click)="createCandidate()">
        Crear Candidato
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="candidatos">
    <div class="nocandidatos" *ngIf="candidatos.length == 0">
      <h1>No hay candidatos disponibles</h1>
    </div>
    <app-candidato-card
      *ngFor="let candidato of candidatos"
      [candidato]="candidato"
    ></app-candidato-card>
  </div>
</div>
