<app-nav [isHide]="hideNav"></app-nav>
<router-outlet></router-outlet>
<div class="container">
  <div class="main-title">
    <div class="title">
      <h1>Candidatos</h1>
      <p>Gestión de los candidatos</p>
      <div class="filter">
        <div class="form-controller">
          <div class="form-container">
            <input
              [(ngModel)]="inputFilter"
              placeholder="Ingrese su filtro"
              type="text"
              (ngModelChange)="onInputFilterChange($event)"
            />
          </div>
        </div>
        <div class="form-controller">
          <div class="form-container select">
            <select
              (change)="onSelectFilterChange($event)"
              [(ngModel)]="selectFilter"
            >
              <option value="----" [selected]="true" [disabled]="true">
                Seleccione
              </option>
              <option [value]="'dni'">DNI</option>
              <option [value]="'name'">Nombre</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="action">
      <button (click)="createCandidate()">
        Crear Candidato
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="candidatos">
    <div class="nocandidatos" *ngIf="candidatos.length == 0">
      <h1>No hay candidatos disponibles</h1>
    </div>
    <app-candidato-card
      (resultEmitter)="this.initialize()"
      *ngFor="let candidato of candidatosFiltered"
      [candidato]="candidato"
    ></app-candidato-card>
  </div>
</div>
