@import "src/assets/styles/styles.scss";
.card {
  @include title();
  @include paragraph();
  @include button();
  width: 200px;
  height: 240px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  button {
    background-color: #afa4da;
    color: black;
  }
  transition: ease all 250ms;
  h1,
  p {
    margin: 0;
  }
  h1.description {
    font-size: 1.2rem;
    font-weight: 400;
  }
  h1 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .voted {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card.inactive {
  background-color: #c4c4c4;
}
