<div class="container">
  <div class="header">
    <h1>
      {{ partido.name.length > 0 ? "Editar Partido" : "Registrar Partido" }}
    </h1>
    <div class="actions">
      <button (click)="deletePartido()" *ngIf="partido.name.length > 0">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="close" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <form [formGroup]="partidoForm">
      <div class="form-controller">
        <label>Nombre</label>
        <div class="form-container">
          <input
            formControlName="name"
            placeholder="Ingrese el nombre del partido"
            type="text"
          />
          <mat-icon>remember_me</mat-icon>
        </div>
      </div>
      <div class="form-controller">
        <label>Descripcion</label>
        <div class="form-container">
          <input
            formControlName="description"
            placeholder="Ingrese la descripcion del partido"
            type="text"
          />
          <mat-icon>description</mat-icon>
        </div>
      </div>
      <div class="form-controller">
        <label>Fecha de Creacion</label>
        <div class="form-container">
          <input formControlName="creationDate" type="date" />
        </div>
      </div>
      <div class="form-controller status" *ngIf="partido.name.length > 0">
        <div class="text">
          <label>Estado</label>
          <p>{{ partido.status ? "Activo" : "Inactivo" }}</p>
        </div>
        <button (click)="uploader.click()" *ngIf="!partido.status">
          Validar
        </button>
        <input hidden type="file" #uploader (change)="uploadFile($event)" />
      </div>
      <button (click)="submitForm()">
        {{ partido.name.length > 0 ? " Editar Partido" : "Registrar Partido" }}
      </button>
    </form>
  </div>
</div>
