@import "src/assets/styles/styles.scss";

.container {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: $mainBackgroundColor;
  padding: 8% 5%;
  @include title();
  @include paragraph();
  @include button();
  @include form-controller(
    (
      Properties: (
        border-color: rgb(195, 21, 21),
        height: 30px,
        radius: 40px,
      ),
    )
  );
  h1,
  p {
    margin: 0;
  }
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  .main-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .filter {
        width: 50vw;
        display: flex;
        gap: 1rem;
        .form-controller {
          width: 100%;

          .form-container {
            background-color: white;
          }
          .form-container.select {
            width: 40%;
          }
        }
      }
    }
    .actions {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
  .content {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 10vw;
    }
  }
  .Partidos {
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(150px, auto);
  }
}
