<div class="container">
  <div class="header">
    <h1>Registrar Candidato</h1>
    <div class="actions">
      <button (click)="deleteCandidate()" *ngIf="candidate.nombre.length > 0">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="close" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <form [formGroup]="candidateForm">
      <div class="form-controller">
        <label>Nombre</label>
        <div class="form-container">
          <input
            formControlName="name"
            placeholder="Ingrese su nombre"
            type="text"
          />
          <mat-icon>person</mat-icon>
        </div>
      </div>
      <div class="form-controller">
        <label>Apellido</label>
        <div class="form-container">
          <input
            formControlName="lastname"
            placeholder="Ingrese su apellido"
            type="text"
          />
          <mat-icon>person</mat-icon>
        </div>
      </div>
      <div class="form-controller">
        <label>Correo Electrónico</label>
        <div class="form-container">
          <input
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
            type="email"
          />
          <mat-icon>mail</mat-icon>
        </div>
      </div>
      <div class="form-controller">
        <label>DNI</label>
        <div class="form-container">
          <input
            formControlName="dni"
            placeholder="Ingrese su DNI"
            type="text"
          />
          <mat-icon>badge</mat-icon>
        </div>
      </div>

      <div class="form-controller">
        <label>Fecha de Nacimiento</label>
        <div class="form-container">
          <input formControlName="dateBirth" type="date" />
        </div>
      </div>
      <div class="form-controller">
        <label>Partido Politico</label>
        <div class="form-container">
          <select>
            <option value="Test">Testing</option>
          </select>
        </div>
      </div>
      <button>Registrar Candidato</button>
    </form>
  </div>
</div>
